/* Boilerplate */
*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

/* Button */
.btn {
  cursor: pointer;
  border: none;
  text-transform: uppercase;
  background-color: #f28d35;
  color: #fff;
  font-weight: 700;
  padding: 1.2rem 2rem;
  border-radius: 4px;
}

/* Navbar */

.nav {
  background-color: #6b3cc9;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  width: 20rem;
  margin: 2rem 0;
}

.nav_list {
  list-style: none;

  display: flex;
}

.nav_item:not(:last-child) {
  padding-right: 1.3rem;
}

.nav_link,
.nav_link:link,
.nav_link:visited {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 1.5rem;
  transition: all 0.2s;
  border-right: 5px solid transparent;
}

/* Header */
.header {
  background-image: url("img/Hero\ Image.jpg");
  background-size: cover;
  height: 90vh;

  position: relative;
}

.header-frame {
  position: absolute;
  bottom: 2.5rem;
  left: 5rem;

  width: 50rem;
  font-size: 1.8rem;
  background-image: linear-gradient(to right, #4dca79, #1cbddd);
  color: #fff;
  padding: 1.5rem 1.8rem;
}

.frame-heading {
  margin-bottom: 1.7rem;
}

/* Services page */
