/* Boilerplate */
*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

/* Button */
.btn {
  cursor: pointer;
  border: none;
  text-transform: uppercase;
  background-color: #f28d35;
  color: #fff;
  font-weight: 700;
  padding: 1.2rem 2rem;
  border-radius: 4px;
}

/* Navbar */

.nav {
  background-color: #6b3cc9;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  width: 20rem;
  margin: 2rem 0;
}

.nav-list {
  list-style: none;

  display: flex;
}

.nav-item:not(:last-child) {
  padding-right: 1.3rem;
}

.nav-link,
.nav-link:link,
.nav-link:visited {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 1.5rem;
  transition: all 0.2s;
  border-right: 5px solid transparent;
}

/* Header */
.header {
  background-image: url("img/Hero\ Image.jpg");
  background-size: cover;
  height: 90vh;

  position: relative;
}

.header-frame {
  position: absolute;
  bottom: 2.5rem;
  left: 5rem;

  width: 50rem;
  font-size: 1.8rem;
  background-image: linear-gradient(to right, #4dca79, #1cbddd);
  color: #fff;
  padding: 1.5rem 1.8rem;
}

.frame-heading {
  margin-bottom: 1.7rem;
}

/* Services page */

.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10rem;
}

.services-container {
  width: 70%;
  display: flex;
  align-items: center;
}

.services-img-container {
  width: 40vw;
}

.services-img-container-2 {
  width: 35vw;
}

.services-img-1 {
  width: 73%;
}

.services-img-2 {
  width: 90%;
}

.services-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 30vw;
}

.services-content-2 {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 50vw;
}

.services-content-heading {
  color: #6b3cc9;
  font-size: 2.4rem;
  margin-bottom: 1rem;
  font-family: "Poppins", sans-serif;
}

.services-content-para {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

/* Accordian section */
.accordion {
  max-width: 600px;
  margin: auto;
  margin-bottom: 5rem;
  border-radius: 5px;
}

.accordion h2 {
  text-align: center;
  margin: 0;
  padding: 10px;
  background-color: #fff;
  color: #6b3cc9;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 2.7rem;
}

.accordion-button {
  background-color: #faf8ff;
  color: #000000;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion-button:hover,
.accordion-button.active {
  background-color: #faf8ff;
  color: #6b3cc9;
}

.panel {
  padding: 0 18px;
  display: block;
  overflow: hidden;
  background-color: #faf8ff;
}

.symbol {
  font-size: 18px;
}

/* You might need to include some JavaScript for the accordion to function. */

/* Footer section */
footer {
  background-color: #6b3cc9;
  color: white;
  padding: 20px 0;
}

.footer-logo {
  margin-bottom: 1.7rem;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  padding: 0 10%;
}

.brand-section {
  width: 25%;
  margin-bottom: 1.5rem;
}

.footer-section h2,
.footer-section h3 {
  color: #ffffff;
  margin-bottom: 1rem;
}

.footer-section p,
.footer-section ul {
  color: #fff;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section li:not(:last-child) {
  margin-bottom: 0.8rem;
}

.footer-bottom {
  width: 30%;
  text-align: center;
  border-top: 1px solid #fff;
  padding-top: 10px;
  margin: 6rem auto 0;
}

.links a {
  color: #cccccc;
  text-decoration: none;
  margin: 0 5px;
}

.links a:hover {
  text-decoration: underline;
}
